/* General */
*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
}

/* Header */
header{
    width: 100%;
    height:530px;
    background: url("../img_bg/bg_header.jpg") center ;
}

#topbar{
    width: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    height:60px;
}
.menu-wrap{
    margin-left:20%;
    margin-right:20%;
}
.menu{
    display: flex;
}
.menu li {
    float: left;
    direction: none;
    width: 115px;
    height: 45px;
    text-align: center;
    padding-top: 15px;
    font-size: 24px;
}
.menu li:hover{
    background-color: #b91a34;
}
.menu li a {
    font-family:"Open Sans";
    text-decoration: none;
    color: #fff;
    width: 110px;
    height: 53px;
}
.header-container_text h1{
    color: white;
    font-size: 95px;
    font-family: "Metal Mania";
    text-align: center;
    padding-top: 170px;
}
.header-container_link{
    text-align: center;
    padding-top: 20px;
    margin-top: 50px;
    margin-left: 40%;
    margin-right: 40%;
    width: 20%;
    height: 40px;
    background: rgb(222,2,4);
    background: linear-gradient(130deg, rgba(222,2,4,1) 0%, rgba(254,52,107,1) 100%);
}
.header-container_link:hover{
    background: rgb(254,52,107);
    background: linear-gradient(131deg, rgba(254,52,107,1) 0%, rgba(222,2,4,1) 100%);
}
.header-container_link a {
    margin: auto;
    text-decoration: none;
    font-family:"Open Sans";
    color: white;
    font-size: 20px;

}
/* Second Block */
.second-container{
    width:100%;
    height: 1400px;
    background:url("../img_bg/bg.png") rgba(0, 0, 0, 0.8);
}
.second-container_wrap{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}
/* Tour */
.second-container_tour{
    display: flex;
}
#tour h2{
    text-align: center;
    color: #d9d9d9;
    padding-top: 75px;
    font-size: 35px;
    font-family:"Open Sans";
}
.tour-card{
    width: 18%;
    margin-top: 55px;
    height: 240px;
}
.madrid{
    background: url("../img/tour/madrid.jpg") no-repeat;
}
.turin{
    background: url("../img/tour/turin.jpg") no-repeat;
    margin-left:auto;
}
.hamburg{
    background: url("../img/tour/hamburg.jpg") no-repeat;
    margin-left:auto;
}
.krakow{
    background: url("../img/tour/krakow.jpg") no-repeat;
    margin-left:auto;
}
.tour-town{
    margin-left: 15px;
    margin-top: 25px;
    color: #ffffff;
    font-size: 20px;
    font-family:"Open Sans";
}
.tour-place{
    margin-left: 15px;
    color: #ffffff;
    margin-top: 10px;
    color: #ffffff;
    font-size: 15px;
    font-family:"Open Sans";
}
.tour-date{
    margin-left: 15px;
    color: #ffffff;
    margin-top: 10px;
    color: #ffffff;
    font-size: 15px;
    font-family:"Open Sans";
    font-style: oblique;
}
.tour-button_text{
    padding-left: 20%;
    font-family:"Open Sans";
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.button-tick{
    width: 70%;
    padding-top: 13px;
    margin-top: 20px;
    margin-left: 15%;
    margin-right: 15%;
    height: 30px;
    background: rgb(222,2,4);
    background: linear-gradient(130deg, rgba(222,2,4,1) 0%, rgba(254,52,107,1) 100%);
}
.button-tick:hover{
    background: rgb(254,52,107);
    background: linear-gradient(131deg, rgba(254,52,107,1) 0%, rgba(222,2,4,1) 100%);
}
/* Gallery */
.second-cantainer_gallery h2{
    text-transform: uppercase;
    text-align: center;
    color: #d9d9d9;
    padding-top: 95px;
    font-size: 35px;
    font-family:"Open Sans";
}
.cantainer-gallery_wrap{
    margin-top: 55px;
    width:70%;
    margin-left:15%;
    margin-right: 15%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap:40px;
}
.photo{
    margin: auto;
}
/* Subscribe */
.container-subscribe{
    width: 100%;
    height: 380px;
   background:url("../img_bg/bg_footer.jpg") rgba(0, 0, 0, 0.3) center;
}
.pitch h2{
    color: #ffffff;
    text-align: center;
    padding-top: 70px;
    font-size: 60px;
    font-family:"Open Sans";
    text-transform: uppercase;
}
.pitch p{
    color: #ffffff;
    text-align: center;
    padding-top: 50px;
    font-size: 20px;
    font-family:"Open Sans";
}
form{
    text-align: center;
}
form input{
    height: 40px;
    width: 270px;
    font-size: 18px;
    font-family:"Open Sans";
    padding-left: 10px;
    border: none;
}
form button{
    background: rgb(222,2,4);
    background: linear-gradient(130deg, rgba(222,2,4,1) 0%, rgba(254,52,107,1) 100%);
    height: 41px;
    width: 180px;
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    font-family:"Open Sans";
    border: none;
}
/* Footer */
.footer{
    width:100%;
    height: 100px;
    background:url("../img_bg/bg.png") rgba(0, 0, 0, 0.8);
}
.social{
    text-align: center;
}
.fa{
    padding-top: 30px;
    font-size: 25px;
    color: #ffffff;
    padding-left: 8px;
}
.footer p{
    padding-top: 20px;
    font-family:"Open Sans";
    text-align: center;
    color: #ffffff;
}


